body{
    background-color: black;
}
a{
    font-size:20px;
    margin-right:40px;
    text-decoration:none;
}
img{
    margin-right: 300px;
}
.dome{
    border: 2px solid #16F529 ;
    border-radius: 20px;
}
.result-link{
    margin-right: 100px;
}
header{
  
     font-family: 'NanumBarunGothic';

}
main{
    color:white;
    margin-top:70px
}
h2{
    margin-left:40px;
    margin-right:40px;
    font-size: 50px;
}
.dome2{
    border-radius:20px;
    border: 5px solid white ;
    color:black;
    background-color: white;
   

}
.table2{
    margin: 0 20px;
}
.table3, .table4, .table5, .table6{
    background-color:#303030;
    margin: 0 30px;
    margin-top: 30px;
    padding: 20px; /* Add padding for spacing */
    border-radius: 20px; /* Add border radius */
    width: 95%; 
    color:white;
}


.size{
    font-size: 18px;
}